# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Test coverage
coverage/

# VSCode
.vscode/

# Jest
.jest/

# Build output
dist/
build/

# Misc
*.tgz

# IDE
.idea/
*.swp
